/*! rinotification v1.0.0 | MIT License | github.com/sajankumar/rinotification */
@keyframes spinAround {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

/*! minireset.css v0.0.2 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none; }

button,
input,
select,
textarea {
  margin: 0; }

html {
  box-sizing: border-box; }

* {
  box-sizing: inherit; }
  *:before, *:after {
    box-sizing: inherit; }

img,
embed,
object,
audio,
video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0;
  text-align: left; }

html {
  background-color: #fff;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility; }

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block; }

body,
button,
input,
select,
textarea {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

code,
pre {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: monospace; }

body {
  color: #4a4a4a;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5; }

a {
  color: #00d1b2;
  cursor: pointer;
  text-decoration: none;
  transition: none 86ms ease-out; }
  a:hover {
    color: #363636; }

code {
  background-color: whitesmoke;
  color: #ff3860;
  font-size: 0.8em;
  font-weight: normal;
  padding: 0.25em 0.5em 0.25em; }

hr {
  background-color: #dbdbdb;
  border: none;
  display: block;
  height: 1px;
  margin: 1.5rem 0; }

img {
  max-width: 100%; }

input[type="checkbox"],
input[type="radio"] {
  vertical-align: baseline; }

small {
  font-size: 0.8em; }

span {
  font-style: inherit;
  font-weight: inherit; }

strong {
  color: #363636;
  font-weight: 700; }

pre {
  background-color: whitesmoke;
  color: #4a4a4a;
  font-size: 0.8em;
  white-space: pre;
  word-wrap: normal; }
  pre code {
    -webkit-overflow-scrolling: touch;
    background: none;
    color: inherit;
    display: block;
    font-size: 1em;
    overflow-x: auto;
    padding: 1.25rem 1.5rem; }

table {
  width: 100%; }
  table td,
  table th {
    text-align: left;
    vertical-align: top; }
  table th {
    color: #363636; }

.is-block {
  display: block; }

@media screen and (max-width: 768px) {
  .is-block-mobile {
    display: block !important; } }

@media screen and (min-width: 769px), print {
  .is-block-tablet {
    display: block !important; } }

@media screen and (min-width: 769px) and (max-width: 999px) {
  .is-block-tablet-only {
    display: block !important; } }

@media screen and (max-width: 999px) {
  .is-block-touch {
    display: block !important; } }

@media screen and (min-width: 1000px) {
  .is-block-desktop {
    display: block !important; } }

@media screen and (min-width: 1000px) and (max-width: 1191px) {
  .is-block-desktop-only {
    display: block !important; } }

@media screen and (min-width: 1192px) {
  .is-block-widescreen {
    display: block !important; } }

.is-flex {
  display: flex; }

@media screen and (max-width: 768px) {
  .is-flex-mobile {
    display: flex !important; } }

@media screen and (min-width: 769px), print {
  .is-flex-tablet {
    display: flex !important; } }

@media screen and (min-width: 769px) and (max-width: 999px) {
  .is-flex-tablet-only {
    display: flex !important; } }

@media screen and (max-width: 999px) {
  .is-flex-touch {
    display: flex !important; } }

@media screen and (min-width: 1000px) {
  .is-flex-desktop {
    display: flex !important; } }

@media screen and (min-width: 1000px) and (max-width: 1191px) {
  .is-flex-desktop-only {
    display: flex !important; } }

@media screen and (min-width: 1192px) {
  .is-flex-widescreen {
    display: flex !important; } }

.is-inline {
  display: inline; }

@media screen and (max-width: 768px) {
  .is-inline-mobile {
    display: inline !important; } }

@media screen and (min-width: 769px), print {
  .is-inline-tablet {
    display: inline !important; } }

@media screen and (min-width: 769px) and (max-width: 999px) {
  .is-inline-tablet-only {
    display: inline !important; } }

@media screen and (max-width: 999px) {
  .is-inline-touch {
    display: inline !important; } }

@media screen and (min-width: 1000px) {
  .is-inline-desktop {
    display: inline !important; } }

@media screen and (min-width: 1000px) and (max-width: 1191px) {
  .is-inline-desktop-only {
    display: inline !important; } }

@media screen and (min-width: 1192px) {
  .is-inline-widescreen {
    display: inline !important; } }

.is-inline-block {
  display: inline-block; }

@media screen and (max-width: 768px) {
  .is-inline-block-mobile {
    display: inline-block !important; } }

@media screen and (min-width: 769px), print {
  .is-inline-block-tablet {
    display: inline-block !important; } }

@media screen and (min-width: 769px) and (max-width: 999px) {
  .is-inline-block-tablet-only {
    display: inline-block !important; } }

@media screen and (max-width: 999px) {
  .is-inline-block-touch {
    display: inline-block !important; } }

@media screen and (min-width: 1000px) {
  .is-inline-block-desktop {
    display: inline-block !important; } }

@media screen and (min-width: 1000px) and (max-width: 1191px) {
  .is-inline-block-desktop-only {
    display: inline-block !important; } }

@media screen and (min-width: 1192px) {
  .is-inline-block-widescreen {
    display: inline-block !important; } }

.is-inline-flex {
  display: inline-flex; }

@media screen and (max-width: 768px) {
  .is-inline-flex-mobile {
    display: inline-flex !important; } }

@media screen and (min-width: 769px), print {
  .is-inline-flex-tablet {
    display: inline-flex !important; } }

@media screen and (min-width: 769px) and (max-width: 999px) {
  .is-inline-flex-tablet-only {
    display: inline-flex !important; } }

@media screen and (max-width: 999px) {
  .is-inline-flex-touch {
    display: inline-flex !important; } }

@media screen and (min-width: 1000px) {
  .is-inline-flex-desktop {
    display: inline-flex !important; } }

@media screen and (min-width: 1000px) and (max-width: 1191px) {
  .is-inline-flex-desktop-only {
    display: inline-flex !important; } }

@media screen and (min-width: 1192px) {
  .is-inline-flex-widescreen {
    display: inline-flex !important; } }

.is-clearfix:after {
  clear: both;
  content: " ";
  display: table; }

.is-pulled-left {
  float: left; }

.is-pulled-right {
  float: right; }

.is-clipped {
  overflow: hidden !important; }

.is-overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0; }

.has-text-centered {
  text-align: center; }

.has-text-left {
  text-align: left; }

.has-text-right {
  text-align: right; }

.has-text-white {
  color: white; }

a.has-text-white:hover, a.has-text-white:focus {
  color: #e6e6e6; }

.has-text-black {
  color: #0a0a0a; }

a.has-text-black:hover, a.has-text-black:focus {
  color: black; }

.has-text-light {
  color: whitesmoke; }

a.has-text-light:hover, a.has-text-light:focus {
  color: #dbdbdb; }

.has-text-dark {
  color: #363636; }

a.has-text-dark:hover, a.has-text-dark:focus {
  color: #1c1c1c; }

.has-text-primary {
  color: #00d1b2; }

a.has-text-primary:hover, a.has-text-primary:focus {
  color: #009e86; }

.has-text-info {
  color: #3273dc; }

a.has-text-info:hover, a.has-text-info:focus {
  color: #205bbc; }

.has-text-success {
  color: #23d160; }

a.has-text-success:hover, a.has-text-success:focus {
  color: #1ca64c; }

.has-text-warning {
  color: #ffdd57; }

a.has-text-warning:hover, a.has-text-warning:focus {
  color: #ffd324; }

.has-text-danger {
  color: #ff3860; }

a.has-text-danger:hover, a.has-text-danger:focus {
  color: #ff0537; }

.is-hidden {
  display: none !important; }

@media screen and (max-width: 768px) {
  .is-hidden-mobile {
    display: none !important; } }

@media screen and (min-width: 769px), print {
  .is-hidden-tablet {
    display: none !important; } }

@media screen and (min-width: 769px) and (max-width: 999px) {
  .is-hidden-tablet-only {
    display: none !important; } }

@media screen and (max-width: 999px) {
  .is-hidden-touch {
    display: none !important; } }

@media screen and (min-width: 1000px) {
  .is-hidden-desktop {
    display: none !important; } }

@media screen and (min-width: 1000px) and (max-width: 1191px) {
  .is-hidden-desktop-only {
    display: none !important; } }

@media screen and (min-width: 1192px) {
  .is-hidden-widescreen {
    display: none !important; } }

.is-marginless {
  margin: 0 !important; }

.is-paddingless {
  padding: 0 !important; }

.is-unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.notification {
  background-color: whitesmoke;
  border-radius: 3px;
  padding: 1.25rem 2.5rem 1.25rem 1.5rem;
  position: relative; }
  .notification:not(:last-child) {
    margin-bottom: 1.5rem; }
  .notification a:not(.button) {
    color: currentColor;
    text-decoration: underline; }
  .notification code,
  .notification pre {
    background: white; }
  .notification pre code {
    background: transparent; }
  .notification > .delete {
    position: absolute;
    right: 0.5em;
    top: 0.5em; }
  .notification .title,
  .notification .subtitle,
  .notification .content {
    color: inherit; }
  .notification.is-white {
    background-color: white;
    color: #0a0a0a; }
  .notification.is-black {
    background-color: #0a0a0a;
    color: white; }
  .notification.is-light {
    background-color: whitesmoke;
    color: #363636; }
  .notification.is-dark {
    background-color: #363636;
    color: whitesmoke; }
  .notification.is-primary {
    background-color: #00d1b2;
    color: #fff; }
  .notification.is-info {
    background-color: #3273dc;
    color: #fff; }
  .notification.is-success {
    background-color: #23d160;
    color: #fff; }
  .notification.is-warning {
    background-color: #ffdd57;
    color: rgba(0, 0, 0, 0.7); }
  .notification.is-danger {
    background-color: #ff3860;
    color: #fff; }
